blinker==1.4
certifi==2020.12.5
click==7.1.2
gast==0.2.2
h5py==2.10.0
numpy==1.20.0rc1
oauthlib==3.0.1
pyasn1==0.4.8
PyJWT==1.7.1
pypiwin32==223
pywin32==300
tensorflow==2.1.0
termcolor==1.1.0
Werkzeug==0.16.1

zlib~=1.2.11
pygments~=2.7.3
docutils~=0.16
cryptography~=3.3.1
cffi~=1.14.4
pillow~=8.0.1
olefile~=0.46
pip~=20.3.1
wheel~=0.36.2
openssl~=1.1.1i
typing_extensions~=3.7.4.3
rsa~=4.6
six~=1.15.0
attrs~=20.3.0
kivy~=2.0.0
requests~=2.25.0
idna~=2.10
multidict~=5.1.0
astor~=0.8.1
setuptools~=49.6.0
scipy~=1.5.3
cachetools~=4.1.1
urllib3~=1.25.11
aiohttp~=3.7.3
yarl~=1.6.3
chardet~=3.0.4
markdown~=3.3.3
win_inet_pton~=1.1.0
pycparser~=2.20
tensorflow-gpu~=2.1.0
pyreadline~=2.1
tensorboard~=2.4.0
python~=3.7.9
wrapt~=1.12.1
zipp~=3.4.0